.left-panel {
  height: calc(100vh - 110px);
  overflow-y: scroll;
  background-color: #fff;

  .cp-wrapper {
    padding: 12px;
    margin: 12px;
    border: 1px solid #fff;
    border-radius: 3px;

    &:hover {
      border-color: #d9d9d9;
    }

    &.selected {
      border-color: #1890ff !important;
    }

    &.locked {
      cursor: not-allowed;
      opacity: 0.5;
    }

    .cp {
      // 屏蔽鼠标行为，组件不让被点击到（比如 input 等）
      pointer-events: none;
    }
  }
}
