body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* 消除 dnd-kit 样式以防和我们自己的样式冲突 */
div[role="button"] {
  outline: 0;
}

/* 统一处理滚动条样式 */
::-webkit-scrollbar {
  /* 滚动条最外层盒子宽度 */
  width: 4px; 
}

::-webkit-scrollbar-thumb {
  /* 移动指示条盒子 */
  background-color: #ccc;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  /* 指示条下面的背景盒子 */
  background-color: transparent;
  border-radius: 4px;
}