body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* 使 spin 在容器正中间 */
:where(.css-dev-only-do-not-override-xu9wm8).ant-spin-nested-loading >div>.ant-spin {
  max-height: none;
}

/* 消除 dnd-kit 样式以防和我们自己的样式冲突 */
div[role="button"] {
  outline: 0;
}